<%- include('includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include("includes/navbar.ejs")  %>
    <section id="headline"><h1>Welcome to the shop</h1></section>
    <section>
        <form class="default-form" action="add-product" method="post">
            <h1>Add a product</h1>
            <p class="error-message"><%= inputData.message %></p>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <input type="text" placeholder="Product name" name="productName" id="productName" required>
            <input type="file" name="productImage" id="productImage" required>
            <input type="text" placeholder="Product describtion" name="productdes" id="productdes" required>
            <button class="default-button" type="submit">Add product</button>
        </form>
    </section>
</body>
</html>