<%- include('../shared/includes/head.ejs', { title: "Online Shop Demo" }) %>
    
</head>
<body>
    <%- include("../shared/includes/navbar.ejs")  %>
    <section id="headline"><h1>Welcome to the shop</h1></section>
    <section>
        <ul id="products-list">
            
        </ul>
    </section>
    <section>
        <a class="default-button" href="/admin/products">Manage Products</a>
    </section>
    <section>
        <a class="default-button" href="/admin/orders">Manage Orders</a>
    </section>
</body>
</html>