<%- include('../shared/includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include("../shared/includes/navbar.ejs")  %>
    <section id="headline"><h1>Manage Orders</h1></section>
    <section>
        
    </section>
</body>
</html>