<%- include('../shared/includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include("../shared/includes/navbar.ejs")  %>
    <section id="headline"><h1>Manage Categories</h1></section>
    <section>
        <h1>Category list</h1>
        <ul id="Category">
            <li>
                <h1>Item 1</h1>
                <p>Items in list: <span class="highlight-text-secondary">0</span></p>
            </li>
        </ul>
    </section>
    <section>
        <form class="default-form" action="/admin/categories/new" method="post">
            <h1>Add a Category</h1>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <input type="text" placeholder="Title" name="title" id="title" required>
            
            <button class="default-button" type="submit">Add Category</button>
        </form>
    </section>
</body>
</html>