<%- include('../shared/includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/product.css">
</head>
<body>
    <%- include("../shared/includes/navbar.ejs")  %>
    <section id="headline"><h1>Manage Products</h1></section>
    <section>
        <h1>Product list</h1>
        <ul id="products-list">
            <% for(const item of products) { %>
                <%- include("../shared/includes/product-item",{item: item}) %>
            <% } %>
        </ul>
    </section>
    <section>
        <%- include("../shared/includes/product-form.ejs",{formTitle: "Add Product Form", formButton: "Add Product" ,formAction: "/admin/products/new", product: {
            title: "",
            image: "",
            description: "",
            category: "",
            price: "",
        }})  %>
    </section>
</body>
</html>