<%- include('includes/head.ejs', { title: "Online Shop Demo" }) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include("includes/navbar.ejs")  %>
    <section id="headline">
        <h1>Error 500: Something went wrong</h1>
        <p>Please try again later</p>
    </section>
</body>
</html>