<ul id="products-list">
    <li>
        <card class="product">
            <img src="" alt="">
            <h2>Item 1</h2>
            <p>10.00₪</p>
            <button>+</button>
        </card>
    </li>
</ul>