:root {
  --color-primary: #5db500;
  --color-primary-dark: #528d3c;
  --color-secondary: #ef5000;
  --color-background: #2e2e2e;

  --shadow-default: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--color-background);
}

#navbar {
  height: 3rem;
  background-color: var(--color-background);
  padding: 0px 6%;
  margin: 0;
  border-width: 6px;
  border-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-items {
  list-style: none;
  width: 66%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

#nav-items * {
  text-decoration: none;
  background: none;
  border-width: 0;
}

#nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
}

#headline {
  padding: 3rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

#headline h1 {
  font-size: 3rem;
}

#products-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.product {
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-radius: 16px;
  margin: auto;
  background-color: var(--color-primary-dark);
  width: 300px;
  height: 400px;
  box-shadow: var(--shadow-default);
}

.default-button {
  height: 3rem;
  font-size: 2rem;
  max-width: fit-content;
  padding: 0.2rem 1rem;
  margin: 0.5rem auto;
  background-color: var(--color-primary-dark);
  border-style: none;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: var(--shadow-default);
}

.default-button:hover {
  background-color: var(--color-secondary);
}
