:root {
  --color-primary: #5db500;
  --color-primary-dark: #528d3c;
  --color-secondary: #ef5000;
  --color-background: #2e2e2e;
  --color-background-50: #2e2e2e7d;

  --shadow-default: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

a:hover {
  color: #5db500;
  transition: 200ms;
}

body {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  background-color: var(--color-background);
}

#headline {
  padding: 3rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

#headline h1 {
  font-size: 2.5rem;
}

#products-list {
  list-style: none;
  display: grid;
  width: fit-content;
  margin-inline: auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.product {
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-radius: 16px;
  margin: auto;
  background-color: var(--color-primary-dark);
  width: 200px;
  height: 200px;
  box-shadow: var(--shadow-default);
}

.default-button {
  height: 3rem;
  font-size: 2rem;
  max-width: fit-content;
  padding: 0.2rem 1rem;
  margin: 0.5rem auto;
  background-color: var(--color-primary-dark);
  border-style: none;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: var(--shadow-default);
}

.default-button:hover {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 1350px) {
 
  .product {
    height: 180px;
    width: 180px;
  }
  #headline h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  #products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 850px) {
  #products-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .default-button {
    height: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  #products-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    height: 150px;
    width: 150px;
  }
  #headline h1 {
    font-size: 1.5rem;
  }
}
