.default-form {
  width: 600px;
  border-radius: 32px;
  padding: 2rem;
  margin: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.179);
  flex-direction: column;
  box-shadow: var(--shadow-default);
}

form h1 {
  font-size: 2rem;
  margin: auto;
}

form p {
  margin: auto;
}

input,
select {
  height: 2.5rem;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  padding: 0.4rem;
  border-radius: 8px;
  border-width: 0;
  background-color: #f3f8ff;
  color: black;
}

option {
  color: black;
}
