#navbar {
  height: 4rem;
  background-color: var(--color-background);
  margin: 0;
  border-width: 6px;
  border-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


#navbar ul {
  display: flex;
  list-style: none;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  margin: 0 1rem;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  background: none;
  border-width: 0;
}

#logout-button {
  margin: 0 1rem;
  padding: .5rem;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  background: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: var(--color-primary-dark);
}

#logout-button:hover {
  background-color: var(--color-primary);
  transition: 200ms;
}

#nav-logo img {
  height: 3rem;
}

.side-navbar-toggle {
  display: none;
  height: 2rem;
}

#side-navbar {
  display: none;
  position: fixed;
  width: 66%;
  padding: 3.5rem;
  top: 5rem;
  right: 0;
  bottom: 5rem;
  border-radius: 16px;
  background-color: var(--color-background-80);
  backdrop-filter: blur(10px);
  text-align: center;
}

#side-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#side-navbar * {
  list-style: none;
  text-align: right;
  color: white;
  margin: 2rem 0;
}

#navbar-line {
  height: 2px;
  background-color: var(--color-primary-dark);
  border: none;
}

@media screen and (max-width: 1200px) {
  .side-navbar-toggle {
    display: block;
  }

  #navbar ul {
    display: none;
  }
}
