#products-list {
  list-style: none;
  display: grid;
  width: fit-content;
  margin: 1rem auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  background-color: var(--color-primary-light);
  width: 200px;
  height: 300px;
  box-shadow: var(--shadow-default);
  transition: transform 0.2s ease;
}

.product:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  object-fit: fill;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  height: 100%;
}

#img {
  box-sizing: border-box;
  height: 66%;
  width: 100%;
}

#title {
  box-sizing: border-box;
  height: 25%;
  width: 100%;
}

#price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product h2 {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: black;
}

.product h3 {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: var(--color-lightgray);
}

.product p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: green;
  font-weight: bold;
}

.product button, .product a{
  background-color: green;
  color: white;
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.2rem;
  transition: 0.2s ease;
}

.product button:hover, .product a:hover {
  scale: 1.1;
  background-color: #026e00;
}

@media screen and (max-width: 1100px) {
  #products-list,
  .def-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1350px) {
  .product {
    height: 270px;
    width: 180px;
  }
}

@media screen and (max-width: 850px) {
  #products-list,
  .def-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  #products-list,
  .def-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    height: 225px;
    width: 150px;
  }
}
