<%- include('../shared/includes/head', { title: "Online Shop Demo" }) %>
    
</head>
<body>
    <%- include("../shared/includes/navbar")  %>
    <section id="headline">
        <h1>Welcome to <span class="highlight-text-primary">Green House</span>  <span class="highlight-text-secondary"><%= locals.name %></span></h1>
    </section>
    <section>
        <ul id="products-list">
            <li>
                <card class="product">
                    <h1>Item 1</h1>
                    <img src="" alt="">
                </card>
            </li>
            <li>
                <card class="product">
                    <h1>Item 2</h1>
                    <img src="" alt="">
                </card>
            </li>
            <li>
                <card class="product">
                    <h1>Item 3</h1>
                    <img src="" alt="">
                </card>
            </li>
            <li>
                <card class="product">
                    <h1>Item 4</h1>
                    <img src="" alt="">
                </card>
            </li>
            <li>
                <card class="product">
                    <h1>Item 5</h1>
                    <img src="" alt="">
                </card>
            </li>
            <li>
                <card class="product">
                    <h1>Item 6</h1>
                    <img src="" alt="">
                </card>
            </li>
            <li>
                <card class="product">
                    <h1>Item 7</h1>
                    <img src="" alt="">
                </card>
            </li>
        </ul>
    </section>
</body>
</html>